sandbox/
.idea
.ipynb_checkpoints
.coverage*
.pytest_cache
.vagrant


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Python profiles
*.cprof
*.lprof

# macOS
*.DS_Store
_test_est

# activitysim conventions
*_local/
*_local.*

**/__sharrowcache__
**/skims.zarr
**/output/
**/_generated_version.py
docs/**/_generated
